/* Ukuran popup extension */
html,
body {
  width: 350px;
  height: 550px;
  margin: 0;
  padding: 0;
  overflow: auto;
}

#root {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: auto;
  padding: 12px;
  box-sizing: border-box;
}